<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()"
        ><ion-icon slot="start" name="close-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="overflow-auto background">
    <div class="container">
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/images/user.png" />
        </ion-avatar>
        <ion-label>
          <h2>{{ comment.userName }}</h2>
          <p>{{ comment.content }}</p>
        </ion-label>
        <ion-text color="primary"> </ion-text>
      </ion-item>
      <ion-text color="medium">
        <h3>Respondiendo a {{ comment.userName }}</h3>
      </ion-text>
    </div>
  </div>
  <ion-item>
    <ion-label position="floating">Comentar...</ion-label>
    <ion-input [(ngModel)]="content" (keydown.enter)="enviarComentario()"></ion-input><ion-button (click)="enviarComentario()" slot="end" size="small"><ion-icon name="send-outline"></ion-icon></ion-button>
  </ion-item>
</ion-content>
