<ion-content>
  <ion-grid>
    <ion-row>
      <p>
        Revisa tu correo y click en el link para confirmar tu correo.
      </p>
      <ion-button type="submit" (click)="authService.SendVerificationMail()" expand="block">
        Reenviar correo
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>