<div class="overflow-auto background">
    <div class="container">
        <ion-grid>
            <ion-row>
                <ion-col size="1"></ion-col>
                <ion-col size-xl="10" size-lg="10" size-md="10" size-sm="12" size-xs="12">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>
                                <h4 class="h4-responsive text-primary">Recuperar contraseña</h4>
                            </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-item>
                                <ion-label position="floating">Correo electrónico</ion-label>
                                <ion-input #email type="text" inputmode="text" required></ion-input>
                            </ion-item>
                            <br />
                            <ion-row>
                                <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                                    <ion-button type="submit" (click)="recoverPassword(email)">
                                        Recuperar contraseña
                                        <ion-icon name="send-sharp" slot="end"></ion-icon>
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>