<ion-footer class="scroll">
  <ion-toolbar>
    <ion-item slot="start" lines="none"><img src="./assets/logo4vFoldingAtHome.jpg" height="50px;" width="160px;" class="rounded"/></ion-item>
    <ion-buttons slot="end">
      <ion-text>
          <h4 class="padding-b15" style="margin-top:20px;">Comparte</h4>
      </ion-text> 
      <ion-button href="https://www.facebook.com/pages/category/Community/Foldinghome-136059519794607/" target="_blank">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button href="https://twitter.com/foldingathome?lang=es" target="_blank">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
      <ion-button href="https://www.instagram.com/folding.at.home/" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>