<form style="background-color: rgb(27, 0, 88); padding: 20px;">
  <ion-item lines="full">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" #displayName required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Correo electrónico</ion-label>
    <ion-input type="text" #email required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" #password required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-checkbox color="danger" #leyes required></ion-checkbox>
    <ion-label style="padding-left:5px;">Acepto las <a [routerDirection]="'root'" routerLink="../leyes">Cookies, LOPD y RGPD</a></ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-checkbox color="danger" #condiciones required></ion-checkbox>
    <ion-label style="padding-left:5px;">Acepto las <a [routerDirection]="'root'" routerLink="../condiciones">condiciones de servicio</a></ion-label>
  </ion-item>
  <br />
  <ion-row>
    <ion-col>
      <ion-button type="submit" (click)="signUp(email, password, leyes, condiciones, displayName)" expand="block">
        Registrarse
      </ion-button>
    </ion-col>
  </ion-row>
</form>