@import "../../app.component.scss";
// Fondo de la página
.background {
    @include background("../../../assets/images/background.png");
    height: 100%;
}
.pointer {cursor: pointer;}
.spin{
    display: flex;
    align-items: center;
    justify-content: center;
}