<div class="overflow-auto background">
  <div class="container">
    <ion-button *ngIf="loadMore >= 0" (click)="loadMoreComments()" expand="full">
      <ion-icon slot="start" name="chevron-up"></ion-icon>
      Cargar mensajes anteriores
      <ion-icon slot="end" name="chevron-up"></ion-icon>
    </ion-button>
    <div class="spin" *ngIf="spinner">
      <ion-label color="light">Cargando <ion-spinner name="bubbles" color="light"></ion-spinner>
      </ion-label>
    </div>
    <ion-list>
      <div *ngFor="let comentario of comentarios; let i=index">
        <div *ngIf="i > loadMore">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="../../../assets/images/user.png">
            </ion-avatar>
            <ion-label>
              <h2>{{ comentario.userName }}</h2>
              <p>{{ comentario.content }}</p>
            </ion-label>
            <ion-button *ngIf="authenticationService.isLoggedIn" (click)="commentTapped($event, comentario)"
              expand="block" fill="clear" shape="round">
              <ion-icon name="chatbubbles-outline"></ion-icon>
            </ion-button>
            <ion-button
              *ngIf="authenticationService.isLoggedIn && authenticationService.userData.uid == comentario.userId"
              (click)="borrarComentario($event, comentario)" expand="block" fill="clear" shape="round">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
            <ion-note> {{comentario.date | date:'dd/MM/yyyy'}}</ion-note>
          </ion-item>
          <div style="padding-left: 30px;">
            <ion-list>
              <ion-item *ngFor="let subComentario of comentario.subComments" lines="none">
                <ion-avatar slot="start">
                  <img src="../../../assets/images/user.png">
                </ion-avatar>
                <ion-label>
                  <h2>{{ subComentario.userName }}</h2>
                  <p>{{ subComentario.content }}</p>
                </ion-label>
                <ion-button
                  *ngIf="authenticationService.isLoggedIn && authenticationService.userData.uid == subComentario.userId"
                  (click)="borrarSubComentario($event, comentario, subComentario)" expand="block" fill="clear"
                  shape="round">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
                <ion-note> {{subComentario.date | date:'dd/MM/yyyy'}}</ion-note>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </div>
    </ion-list>
    <ion-item *ngIf="authenticationService.isLoggedIn">
      <ion-label position="floating">Enviar mensaje...</ion-label>
      <ion-input [(ngModel)]="content" (keydown.enter)="enviarComentario()"></ion-input>
      <ion-button (click)="enviarComentario()" slot="end" size="small">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="!authenticationService.isLoggedIn" color="danger" class="rounded">
      <ion-button [routerDirection]="'root'" routerLink="../sign-in-and-sign-up" color="danger">
        Inicia sesión para unirte al chat
      </ion-button>
    </ion-item>
  </div>
</div>