<div class="overflow-auto background">
    <div class="container">
        <ion-card class="fondo">
            <ion-card-header>
                <ion-card-title>
                    <h1 class="h1-responsive text-center">Condiciones y terminos de uso de 4vfoldingathome</h1>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <div class="row" style="padding:32px;">
                    <a href="https://4vfoldingathome.tk/assets/condiciones.pdf" target="_blank" class="btn btn-success text-white col-12" download="leyes.pdf">Descargar pdf de las condiciones y términos</a>
                    <br><br>
                    <ion-text class="text-danger"><strong>Última Actualización: 21/05/2020</strong></ion-text>
                    <br><br><br>
                    <ion-title>
                        <h1 class="text-dark">OBJETO Y ACEPTACIÓN</h1>
                    </ion-title>

                    <p class="text-white">
                        El presente aviso legal regula el uso del sitio web https://4vfoldingathome.tk/ (en adelante, LA WEB), del que es titular el Centro Integrado Cuatrovientos (Pamplona - Navarra , Spain) (en adelante, EL PROPIETARI@ DEL CI CUATROVIENTOS).<br
                        /> 4vfoldingathome.tk, es una web de una ONG donde se recopila diversas enfermedades en las cuales puedes ayudar con tu propio equipo informático.<br /> La navegación por el sitio web de EL PROPIETARI@ DEL CI CUATROVIENTOS atribuye
                        la condición de usuario del mismo e implica la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en este Aviso Legal, que pueden sufrir modificaciones.<br /> El usuario se obliga a hacer un uso
                        correcto del sitio web de conformidad con las leyes, la buena fe, el orden público, los usos del tráfico y el presente Aviso Legal. El usuario responderá frente a EL PROPIETARI@ DEL CI CUATROVIENTOS o frente a terceros, de cuál
                        quier daño o perjuicios que pudieran causarse como consecuencia del incumplimiento de dicha obligación.<br /> Para acceder/visitar o usar la página web https://4vfoldingathome.tk/ (ya esté registrado como usuario o no), tanto de
                        forma individual o como entidad, el usuario expresa una aceptación total a estas condiciones y a todas las demás políticas de navegación. Si usted no está de acuerdo con ninguno de estos términos y condiciones, no debe usar esta
                        página web.<br><br>
                    </p>
                    <br>
                    <h6 class="text-white">Por medio de la aceptación de las presentes Condiciones Generales de Uso el Usuario manifiesta:</h6>
                    <ul class="text-white">
                        <li>Que ha leído, entiende y comprende lo aquí expuesto.</li>
                        <li>Que es una persona con capacidad suficiente para comprender que está haciendo con el software de la ONG.
                        </li>
                        <li>Que asume todas las obligaciones aquí dispuestas.</li>
                    </ul>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <ion-title>
                        <h1 class="text-dark">IDENTIFICACIÓN Y COMUNICACIONES</h1>
                    </ion-title>
                    <p class="text-white">
                        EL PROPIETARI@ DEL CI CUATROVIENTOS, en cumplimiento de la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de comercio electrónico, le informa de que:<br /> Su domicilio social está en: Dirección: Av.
                        de San Jorge Etorbidea, 2, 31012 Pamplona, Navarra (Spain)
                        <br /><br /> Para comunicarse con nosotros, ponemos a su disposición diferentes medios de contacto que detallamos a continuación:
                        <br /> Tfno: 948 12 41 29<br /> Email: <a href="mailito:info@cuatrovientos.org" style="text-decoration:none;" class="text-white">info@cuatrovientos.org</a><br /><br /><br /> Todas las notificaciones y comunicaciones entre los usuarios
                        y EL PROPIETARI@ DEL CI CUATROVIENTOS se considerarán eficaces, a todos los efectos, cuando se realicen a través de correo postal o cualquier otro medio de los detallados anteriormente.
                    </p>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <ion-title>
                        <h1 class="text-dark">CONDICIONES DE ACCESO Y UTILIZACIÓN</h1>
                    </ion-title>
                    <p class="text-white">
                        El sitio web y sus servicios son de acceso libre y gratuito, no obstante, EL PROPIETARI@ DEL CI CUATROVIENTOS condiciona la utilización de algunos de los servicios ofrecidos en su web a la previa cumplimentación del correspondiente formulario.<br
                        /> El usuario garantiza la autenticidad y actualidad de todos aquellos datos que comunique a EL PROPIETARI@ DEL CI CUATROVIENTOS y será el único responsable de las manifestaciones falsas o inexactas que realice.<br /> El usuario
                        se compromete expresamente a hacer un uso adecuado de los contenidos y servicios de EL PROPIETARI@ DEL CI CUATROVIENTOS y a no emplearlos para, entre otros:
                    </p><br /><br />
                    <ul class="text-white">
                        <li>
                            Difundir contenidos delictivos, violentos, pornográficos, racistas, xenófobo, ofensivos, de apología del terrorismo o, en general, contrarios a la ley o al orden público.
                        </li>
                        <li>
                            Introducir en la red virus informáticos o realizar actuaciones susceptibles de alterar, estropear, interrumpir o generar errores o daños en los documentos electrónicos, datos o sistemas físicos y lógicos de EL PROPIETARI@ DEL CI CUATROVIENTOS o de terceras
                            personas; así como obstaculizar el acceso de otros usuarios al sitio web y a sus servicios mediante el consumo masivo de los recursos informáticos a través de los cuales EL PROPIETARI@ DEL CI CUATROVIENTOS presta sus servicios.
                        </li>
                        <li>
                            Intentar acceder a las cuentas de correo electrónico de otros usuarios o a áreas restringidas de los sistemas informáticos de EL PROPIETARI@ DEL CI CUATROVIENTOS o de terceros y, en su caso, extraer información.
                        </li>
                        <li>
                            Vulnerar los derechos de propiedad intelectual o industrial, así como violar la confidencialidad de la información de EL PROPIETARI@ DEL CI CUATROVIENTOS o de terceros.
                        </li>
                        <li>
                            Suplantar la identidad de otro usuario, de las administraciones públicas o de un tercero.
                        </li>
                        <li>
                            Reproducir, copiar, distribuir, poner a disposición de, o cualquier otra forma de comunicación pública, transformar o modificar los contenidos, a menos que se cuente con la autorización del titular de los correspondientes derechos o ello resulte legalmente
                            permitido.
                        </li>
                        <li>
                            Recabar datos con finalidad publicitaria y de remitir publicidad de cualquier clase y comunicaciones con fines de venta u otras de naturaleza comercial sin que medie su previa solicitud o consentimiento.
                        </li>
                    </ul><br /><br />
                    <p class="text-white">
                        Todos los contenidos del sitio web, como textos, fotografías, gráficos, imágenes, iconos, tecnología, software, así como su diseño gráfico y códigos fuente, constituyen una obra cuya propiedad pertenece a EL PROPIETARI@ DEL CI CUATROVIENTOS, sin que puedan
                        entenderse cedidos al usuario ninguno de los derechos de explotación sobre los mismos más allá de lo estrictamente necesario para el correcto uso de la web.<br /> En definitiva, los usuarios que accedan
                        a este sitio web pueden visualizar los contenidos y efectuar, en su caso, copias privadas autorizadas siempre que los elementos reproducidos no sean cedidos posteriormente a terceros, ni se instalen en servidores conectados a redes,
                        ni sean objeto de ningún tipo de explotación.<br /> Asimismo, todas las marcas, nombres comerciales o signos distintivos de cualquier clase que aparecen en el sitio web son propiedad de EL PROPIETARI@ DEL CI CUATROVIENTOS, sin
                        que pueda entenderse que el uso o acceso al mismo atribuya al usuario derecho alguno sobre los mismos.<br /> La distribución, modificación, cesión o comunicación pública de los contenidos y cualquier otro acto que no haya sido
                        expresamente autorizado por el titular de los derechos de explotación quedan prohibidos.<br /> El establecimiento de un hiperenlace no implica en ningún caso la existencia de relaciones entre EL PROPIETARI@ DEL CI CUATROVIENTOS
                        y el propietario del sitio web en la que se establezca, ni la aceptación y aprobación por parte de EL PROPIETARI@ DEL CI CUATROVIENTOS de sus contenidos o servicios. Aquellas personas que se propongan establecer un hiperenlace
                        previamente deberán solicitar autorización por escrito a EL PROPIETARI@ DEL CI CUATROVIENTOS. En todo caso, el hiperenlace únicamente permitirá el acceso a la home page o página de inicio de nuestro sitio web, asimismo deberá abstenerse
                        de realizar manifestaciones o indicaciones falsas, inexactas o incorrectas sobre EL PROPIETARI@ DEL CI CUATROVIENTOS, o incluir contenidos ilícitos, contrarios a las buenas costumbres y al orden público.<br /> EL PROPIETARI@ DEL
                        CI CUATROVIENTOS no se responsabiliza del uso que cada usuario le dé a los materiales puestos a disposición en este sitio web ni de las actuaciones que realice en base a los mismos.
                    </p>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <ion-title>
                        <h1 class="text-dark">EXCLUSIÓN DE GARANTÍAS Y DE RESPONSABILIDAD</h1>
                    </ion-title>
                    <p class="text-white">
                        El contenido del presente sitio web es de carácter general y tiene una finalidad meramente informativa, sin que se garantice plenamente el acceso a todos los contenidos, ni su exhaustividad, corrección, vigencia o actualidad, ni su idoneidad o utilidad
                        para un objetivo específico.<br /> EL PROPIETARI@ DEL CI CUATROVIENTOS excluye, hasta donde permite el ordenamiento jurídico, cualquier responsabilidad por los daños y perjuicios de toda naturaleza derivados
                        de:
                    </p>
                    <br /><br />
                    <ul class="text-white">
                        <li>
                            La imposibilidad de acceso al sitio web o la falta de veracidad, exactitud, exhaustividad y/o actualidad de los contenidos, así como la existencia de vicios y defectos de toda clase de los contenidos transmitidos, difundidos, almacenados, puestos a disposición,
                            a los que se haya accedido a través del sitio web o de los servicios que se ofrecen.
                        </li>
                        <li>
                            La presencia de virus o de otros elementos en los contenidos que puedan producir alteraciones en los sistemas informáticos, documentos electrónicos o datos de los usuarios.
                        </li>
                        <li>
                            El incumplimiento de las leyes, la buena fe, el orden público, los usos del tráfico y el presente aviso legal como consecuencia del uso incorrecto del sitio web. En particular, y a modo ejemplificativo, EL PROPIETARI@ DEL CI CUATROVIENTOS no se hace responsable
                            de las actuaciones de terceros que vulneren derechos de propiedad intelectual e industrial, secretos empresariales, derechos al honor, a la intimidad personal y familiar y a la propia imagen, así como la normativa en materia
                            de competencia desleal y publicidad ilícita.
                        </li>
                    </ul>
                    <br /><br />
                    <p class="text-white">
                        Asimismo, EL PROPIETARI@ DEL CI CUATROVIENTOS declina cualquier responsabilidad respecto a la información que se halle fuera de esta web y no sea gestionada directamente por nuestro webmaster. La función de los links que aparecen en esta web es exclusivamente
                        la de informar al usuario sobre la existencia de otras fuentes susceptibles de ampliar los contenidos que ofrece este sitio web. EL PROPIETARI@ DEL CI CUATROVIENTOS no garantiza ni se responsabiliza del funcionamiento o accesibilidad
                        de los sitios enlazados; ni sugiere, invita o recomienda la visita a los mismos, por lo que tampoco será responsable del resultado obtenido. EL PROPIETARI@ DEL CI CUATROVIENTOS no se responsabiliza del establecimiento de hipervínculos
                        por parte de terceros.
                    </p>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <ion-title>
                        <h1 class="text-dark">NORMAS DE USO SECCIÓN USUARIOS DE 4VFOLDINGATHOME.TK</h1>
                    </ion-title>
                    <p class="text-white">
                        Con carácter general, para el acceso a los contenidos de la Página Web no será necesario el Registro del Usuario.<br /> No obstante, la utilización de determinados servicios, como el área de comentarios, está condicionada al Registro
                        previo del Usuario.<br /> Para obtener la condición de Usuario es preciso obtener un login a través de un formulario y aceptar el presente aviso legal y las condiciones de uso de la web.
                    </p>
                    <h6 class="text-white">El Usuario asume que:</h6><br /><br />
                    <ul class="text-white">
                        <li>
                            La distribución del material comercial de manera errónea, falsa o que pueda dar lugar a la confusión por parte de cualquier usuario, dará lugar al bloqueo y posterior cierre de la cuenta con la perdida de todos los derechos adquiridos.
                        </li>
                        <li>
                            La creación de más de una cuenta por parte de un mismo usuario dará lugar al bloqueo y posterior cierre de la cuenta con la perdida de todos los derechos adquiridos. (Se harán comprobaciones en los casos que haya dudas , se podrá hacer excepciones si
                            son varios miembros en una familia).
                        </li>
                        <li>
                            Está terminantemente prohibido comercializar nuestra herramienta 4vfoldingathome con fines lucrativos.
                        </li>
                        <li>
                            Para poder crear y mantener una cuenta en base a nuestros términos y condiciones debe registrarse en las páginas a través del menú en Usuarios->Registrarse .
                        </li>
                        <li>
                            El incumplimiento de cualquiera de estos puntos dará el lugar al bloqueo y posterior cierre de la cuenta.
                        </li>
                    </ul><br /><br />
                    <p class="text-white">
                        Cualquier usuario tendrá derecho a solicitar la revisión de su sitio para defender cualquier situación adversa, alegando el error o confusión para su posterior rectificación.<br /> 4vfoldingathome se compromete a escuchar al afectado
                        en caso de incumplimiento de alguna norma para normalizar la situación.
                    </p>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <ion-title>
                        <h1 class="text-dark">PROCEDIMIENTO EN CASO DE REALIZACIÓN DE ACTIVIDADES DE CARÁCTER ILÍCITO</h1>
                    </ion-title>
                    <p class="text-white">
                        En el caso de que cualquier usuario o un tercero considere que existen hechos o circunstancias que revelen el carácter ilícito de la utilización de cualquier contenido y/o de la realización de cualquier actividad en las páginas web incluidas o accesibles
                        a través del sitio web, deberá enviar una notificación a EL PROPIETARI@ DEL CI CUATROVIENTOS identificándose debidamente, especificando las supuestas infracciones y declarando expresamente y bajo su responsabilidad que la información
                        proporcionada en la notificación es exacta.<br /> Para toda cuestión litigiosa que incumba al sitio web de EL PROPIETARI@ DEL CI CUATROVIENTOS, será de aplicación la legislación española.
                    </p>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <ion-title>
                        <h1 class="text-dark">PUBLICACIONES</h1>
                    </ion-title>
                    <p class="text-white">
                        La información administrativa facilitada a través del sitio web no sustituye la publicidad legal de las leyes, normativas, planes, disposiciones generales y actos que tengan que ser publicados formalmente a los diarios oficiales de las administraciones
                        públicas, que constituyen el único instrumento que da fe de su autenticidad y contenido. La información disponible en este sitio web debe entenderse como una guía sin propósito de validez legal.
                    </p>
                </div>
            </ion-card-content>


        </ion-card>
    </div>
</div>