<form style="background-color: rgb(27, 0, 88); padding: 20px;">
    <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input #email type="text" inputmode="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input #password type="password" inputmode="text"></ion-input>
    </ion-item>
    <ion-item lines="none">
        <a [routerDirection]="'root'" routerLink="../recover-password"><small>¿Has olvidado tu contraseña?</small></a>
    </ion-item>
    <br />
    <ion-row>
        <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-button color="danger" (click)="SignInWithGoogle()" expand="block">
                Iniciar Sesión
                <ion-icon slot="end" name="logo-google"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-button type="submit" (click)="signIn(email, password)" expand="block">
                Iniciar Sesión
                <ion-icon slot="end" name="create"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</form>