<ion-app>
    <ion-header [translucent]="true">
        <ion-toolbar>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                crossorigin="anonymous">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>

            <ion-button [routerDirection]="'root'" routerLink="tablon" slot="end" color="tertiary" style="padding-right: 10px;">
                <ion-icon name="chatbubbles" slot="start"></ion-icon>
                <ion-text *ngIf="!mobile">¡Únete al chat!</ion-text>
                <ion-text *ngIf="mobile">Chatea</ion-text>
            </ion-button>

            <ion-buttons slot="end" *ngIf="authService.isLoggedIn">
                <ion-text color="medium" class="small">Hola, {{ this.authService.userData.displayName }}</ion-text>
                <ion-button fill="clear" color="danger" (click)="signOut()">
                    Cerrar sesión
                </ion-button>
            </ion-buttons>

            <ion-button slot="end" fill="clear" [routerDirection]="'root'" routerLink="sign-in-and-sign-up"
                *ngIf="!authService.isLoggedIn">
                Iniciar sesión
            </ion-button>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <app-menu></app-menu>
        <ion-router-outlet id="main"></ion-router-outlet>
    </ion-content>

    <app-footer></app-footer>
</ion-app>