<div class="overflow-auto background">
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size-xl="10" size-lg="10" size-md="10" size-sm="12" size-xs="12">
          <ion-card>
            <ion-card-header>
              <ion-text color="primary" class="ion-text-center">
                <h1>Inicio de sesión</h1>
              </ion-text>
            </ion-card-header>
            <ion-card-content class="embed-responsive">
              <app-sign-in></app-sign-in>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size-xl="10" size-lg="10" size-md="10" size-sm="12" size-xs="12">
          <ion-card>
            <ion-card-header>
              <ion-text color="primary" class="ion-text-center">
                <h1>Registro</h1>
              </ion-text>
            </ion-card-header>
            <ion-card-content class="embed-responsive">
              <app-sign-up></app-sign-up>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>