<ion-card>
  <ion-card-header>
    <ion-card-title>
      <h3>Mejores equipos del mundo</h3>
    </ion-card-title>
    <ion-card-subtitle>
      Estos son los equipos que más puntos tienen en el ranking mundial.
      <br>
      Tú también puedes ser partícipe de un equipo. <a [routerDirection]="'root'" routerLink="../home" fragment="guia">Pincha aquí</a> para saber cómo.
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="embed-responsive">
    <ion-card *ngFor="let team of topFiveTeams" color="light">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="1" class="ion-align-self-center">
              <h1 no-padding no-margin>{{ team.rank }}</h1>
            </ion-col>
            <ion-col size-xl="2" size-lg="2" size-md="4" size-sm="5" size-xs="5" class="ion-align-self-center">
              <ion-img alt="logo" [src]="team.logo" class="img-fluid float-right"></ion-img>
            </ion-col>
            <ion-col size-xl="3" size-lg="3" size-md="3" size-sm="6" size-xs="6" class="ion-align-self-center">
              <a target="_blank" [href]="team.url">{{ team.name }}</a>
            </ion-col>
            <ion-col size-xl="2" size-lg="2" size-md="4" size-sm="5" size-xs="5" class="ion-align-self-center">
              #{{ team.team }}
            </ion-col>
            <ion-col class="ion-align-self-center ion-text-end">
              {{ team.credit | number }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-card-content>
</ion-card>