<ion-menu contentId="main" type="overlay">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>4VFolders</ion-title>
        </ion-toolbar>
    </ion-header>

    <!-- Menu a configurar -->
    <ion-content>
        <ion-list>
            <ion-menu-toggle auto-hide="false">
                <ion-item [routerDirection]="'root'" routerLink="home" routerLinkActive="text-primary" lines="none">
                    <ion-icon name="home" slot="start"></ion-icon>
                    <ion-label>
                        Inicio
                    </ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" routerLink="buscarapi" routerLinkActive="text-primary" lines="none">
                    <ion-icon name="bar-chart" slot="start"></ion-icon>
                    <ion-label>
                        Estadísticas
                    </ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" routerLink="tablon" routerLinkActive="text-primary" lines="none">
                    <ion-icon name="chatbubbles" slot="start"></ion-icon>
                    <ion-label>
                        Chat
                    </ion-label>
                </ion-item>
                <br>
                <ion-item lines="none">
                    <ion-label>
                        Leyes y normativa europea
                        <ion-list>
                            <ion-item lines="none" [routerDirection]="'root'" routerLink="leyes" [routerLinkActive]="" #rla1="routerLinkActive" [ngClass]="rla1.isActive ? 'text-primary' : 'text-secondary'">
                                <ion-label>
                                    LOPD, Cookies y RGPD
                                </ion-label>
                            </ion-item>
                            <ion-item lines="none" [routerDirection]="'root'" routerLink="condiciones" [routerLinkActive]="" #rla2="routerLinkActive" [ngClass]="rla2.isActive ? 'text-primary' : 'text-secondary'">
                                <ion-label>
                                    Condiciones de uso
                                </ion-label>
                            </ion-item>
                        </ion-list>
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>