@import "../app.component.scss";

// Fondo de la página
.background {
    @include background("../../assets/images/background.png");
    height: 100%;
}

// Homecard
#homecard {
    @include background("../../assets/images/Zika-Virus-24-M.png");
    margin-top: 1em;
    background-color: rgb(0, 0, 0);
}

// Animación de las flechas del botón
.arrow {
    position: relative;
    top: 0;
    transition: top ease 0.2s;
}
.btnAnimation:hover {
    .arrow {
        top: +5px;
    }
}