<div class="overflow-auto background">
    <div class="container">
        <mdb-card id="homecard">
            <div class="text-white text-center py-5 px-4 my-5">
                <div>
                    <h2 class="card-title h1-responsive pt-3 mb-5 font-bold">
                        <strong>
                            Ayuda con la investigación del COVID-19
                        </strong>
                    </h2>
                    <p class="mx-4 mb-4 h5">
                        Con instalar una aplicación es suficiente. De manera gratuita y en menos de 5 minutos.
                    </p>
                    <a mdbBtn color="white" (click)="scroll()" outline="true" class="waves-light btnAnimation"
                        mdbWavesEffect>
                        <mdb-icon fas icon="angle-double-down" class="left arrow"></mdb-icon>¿Cómo <span
                            *ngIf="!mobile">puedo
                        </span>ayudar?
                        <mdb-icon fas icon="angle-double-down" class="right arrow"></mdb-icon>
                    </a>
                </div>
            </div>
        </mdb-card>

        <ion-grid>
            <ion-row>
                <ion-col sizeLg="10" sizeMd="9">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>
                                <h4 class="h4-responsive text-primary">¿Qué es Folding@Home?</h4>
                            </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-item class="ion-padding-horizontal" lines="none">
                                <ion-text color="medium">Folding@Home es un proyecto de computación distribuida, el cual
                                    usa los recursos de los equipos personales para simular el plegamiento proteico de
                                    las enfermedades amenazantes para la vida humana.</ion-text>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>
                                <h4 class="h4-responsive text-primary">¿Cuál es el objetivo del proyecto?</h4>
                            </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-item class="ion-padding-horizontal" lines="none">
                                <ion-text color="medium">Mediante la simulación precisa de cómo se pliegan las proteínas
                                    permite a la comunidad científica comprender el desarrollo de las enfermedades.
                                    Hasta el momento, el proyecto F@H ha tenido éxito simulando el plegamiento
                                    en un rango de 5-10 microsegundos, una escala de tiempo miles de veces más grande de
                                    lo que había sido posible anteriormente.</ion-text>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>
                                <h4 class="h4-responsive text-primary">¿Cómo funciona la aplicación?</h4>
                            </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-item class="ion-padding-horizontal" lines="none">
                                <ion-text color="medium">La aplicación cliente de F@H descarga una serie de datos de un
                                    servidor para realizar los cálculos. Una vez terminada esta tarea, la cual puede
                                    durar desde unas horas a unos días dependiendo de los recursos que le asignes,
                                    se envían los datos al servidor y se vuelven a descargar otros nuevos datos.
                                </ion-text>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>

                    <ion-card id="entrevistaMaialen">
                        <ion-card-header>
                            <ion-card-title>
                                <h4 class="h4-responsive">Entrevista a Maialen Pisón</h4>
                            </ion-card-title>
                        </ion-card-header>
                        <ion-item lines="none">
                            <ion-item class="ion-padding-horizontal" lines="none">
                                <ion-text color="medium" class="card-text">
                                    Maialen Pisón es quien compartió la información sobre el proyecto de
                                    <a href="https://foldingathome.org/">Folding@Home</a> con el instituto
                                    <a href="http://www.cuatrovientos.org/">Cuatrovientos</a>. Gracias a ella surgió la
                                    iniciativa de realizar una página web en español para ayudar con la difusión de este
                                    proyecto.
                                    <br><br> En esta entrevista, Maialen nos habla sobre diversos temas en torno al
                                    proyecto de
                                    <a href="https://foldingathome.org/">Folding@Home</a>.
                                </ion-text>
                            </ion-item>
                        </ion-item>
                        <ion-card-content class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/fy9s4Ran-GM" frameborder="0" height="100%"
                                width="100%"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen class="embed-responsive-item"></iframe>
                        </ion-card-content>
                    </ion-card>
                    <br>
                    <ion-card id="guia">
                        <ion-card-header>
                            <ion-card-title>
                                <h3 class="text-dark">Vídeo tutorial de instalación</h3>
                            </ion-card-title>
                        </ion-card-header>
                        <ion-item class="ion-padding-horizontal" lines="none">
                            <ion-text color="medium" class="card-text">
                                En este vídeo se explica detalladamente cómo instalar la aplicación de Folding@Home en
                                tu equipo.<br> Para una guía mas rápida <a (click)="scroll2()" class="text-primary">pulsa aquí</a>.
                            </ion-text>
                        </ion-item>
                        <ion-card-content class="embed-responsive embed-responsive-16by9">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/CU6Sfb5khUc"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </ion-card-content>
                    </ion-card>
                    <ion-card id="guiarapida">
                        <ion-card-header>
                            <ion-card-title>
                                <h3 class="text-dark">Guía rápida de instalación</h3>
                            </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-item>
                                <ion-badge slot="start" color="primary">
                                    <h4>1</h4>
                                </ion-badge>
                                <ion-text class="text-dark"><strong>Instala</strong> la aplicación de Folding@Home de <a
                                        href="https://foldingathome.org/start-folding/">este enlace</a>. Debes seleccionar la versión
                                    <strong>compatible</strong> con tu equipo.
                                </ion-text>
                            </ion-item>
                            <ion-item>
                                <ion-badge slot="start" color="primary">
                                    <h4>2</h4>
                                </ion-badge>
                                <ion-text class="text-dark"><strong>Ejecuta</strong> la aplicación una vez descargada.
                                </ion-text>
                            </ion-item>
                            <ion-item>
                                <ion-badge slot="start" color="primary">
                                    <h4>3</h4>
                                </ion-badge>
                                <ion-text class="text-dark">Se abrirá una <strong>página web</strong> al ejecutarla, en
                                    la que deberás seleccionar "<strong>Set up an identity</strong>" y pulsar
                                    "<strong>Start
                                        folding</strong>".
                                </ion-text>
                            </ion-item>
                            <ion-item>
                                <ion-badge slot="start" color="primary">
                                    <h4>4</h4>
                                </ion-badge>
                                <ion-text class="text-dark"><strong>Elige</strong> un nombre, esto servirá para
                                    compartir tus <a [routerDirection]="'root'" routerLink="../buscarapi">estadísticas</a> con otros usuarios.<br>
                                    <strong>Introduce</strong> el código de equipo:
                                    <strong>244686</strong>. Pulsa "<strong>Save</strong>".</ion-text>
                            </ion-item>
                            <ion-item>
                                <ion-badge slot="start" color="primary">
                                    <h4>5</h4>
                                </ion-badge>
                                <ion-text class="text-dark"><strong>Selecciona</strong> de la lista de enfermedades,
                                    <strong>COVID-19</strong>.</ion-text>
                            </ion-item>
                            <ion-item>
                                <ion-badge slot="start" color="primary">
                                    <h4>6</h4>
                                </ion-badge>
                                <ion-text class="text-dark"><strong>Indica</strong> en el apartado de
                                    "<strong>Power</strong>" el nivel de potencia que va a ser utilizado. En el apartado
                                    de "<strong>When</strong>" selecciona "<strong>While I'm working</strong>" para que
                                    siempre
                                    se ejecute u "<strong>Only when idle</strong>" si deseas que se ejecute mientras no
                                    usas el equipo.</ion-text>
                            </ion-item>
                            <ion-item lines="none">
                                <ion-badge slot="start" color="primary">
                                    <h4>7</h4>
                                </ion-badge>
                                <ion-text class="text-dark"><strong>¡¡Listo!!</strong> Ya estás ayudando a la causa.
                                </ion-text>
                            </ion-item>

                        </ion-card-content>
                    </ion-card>

                </ion-col>

                <ion-col sizeLg="2" sizeMd="3">
                    <app-twitter></app-twitter>
                    <app-facebook></app-facebook>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>