<div class="overflow-auto background">
    <div class="container">
        <ion-card class="fondo">
            <ion-card-header>
                <ion-card-title>
                    <h1 class="h1-responsive text-center">LEYES EUROPEAS: LOPD, COOKIES Y RGPD</h1>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <div class="row" style="padding:32px;">
                    <a href="https://4vfoldingathome.tk/assets/leyes.pdf" target="_blank" class="btn btn-success text-white col-12" download="leyes.pdf">Descargar pdf de la LOPD , Cookies y RGPD</a>
                    <br /><br />
                    <span class="text-danger" style="margin-top:10px;"><strong>Última Actualización: 20/05/2020</strong></span>
                    <br /><br />
                    <br />
                    <p class="text-white">Los Creadores de 4vFoldingAtHome te informan sobre su Política de Privacidad respecto del tratamiento y protección de los datos de carácter personal de los usuarios y clientes que puedan ser recabados por la navegación o contratación
                        de servicios a través de la Organización No Gubernamental (ONG).<br /><br /> En este sentido, el Titular garantiza el cumplimiento de la normativa vigente en materia de protección de datos personales, reflejada en la Ley Orgánica
                        3/2018, de 5 de diciembre, de Protección de Datos Personales y de Garantía de Derechos Digitales (LOPD GDD). Cumple también con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a
                        la protección de las personas físicas (RGPD).
                        <br /><br /> El uso de sitio Web implica la aceptación de esta Política de Privacidad, así como las condiciones incluidas en el Aviso Legal.<br /><br />
                    </p>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />

                    <ion-title>
                        <h1 class="text-danger">Identidad de Los Creadores</h1>
                    </ion-title>
                    <br /><br />
                    <div class="col-12 text-info">
                        <ul class="list-group bg-success">
                            <li class="list-group-item active bg-success">Centro Integrado Cuatrovientos</li>
                            <li class="list-group-item">
                                <ul class="list-group">
                                    <li class="list-group-item">Dirección: Av. de San Jorge Etorbidea, 2, 31012 Pamplona, Navarra (Spain)</li>
                                    <li class="list-group-item">Tfno: 948 12 41 29</li>
                                    <li class="list-group-item">Web: <a href="http://www.cuatrovientos.org/" target="_blank">http://www.cuatrovientos.org/</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="list-group-item"><a href="mailito:info@cuatrovientos.org" style="text-decoration:none;">info@cuatrovientos.org</a></li>
                        </ul><br /><br />
                    </div>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <ion-title>
                        <h1 class="text-danger">Principios aplicados en el tratamiento de datos</h1>
                    </ion-title><br /><br />
                    <p class="text-white">En el tratamiento de tus datos personales, los Creadores aplicará los siguientes principios que se ajustan a las exigencias del nuevo reglamento europeo de protección de datos:</p><br />
                    <ul class="text-white">
                        <li>
                            <strong><span class="text-danger">Principio de licitud, lealtad y transparencia:</span></strong> Los Creadores siempre requerirán el consentimiento para el tratamiento de tus datos personales (Exceptuando que el gobierno de
                            la UE los solicite, estos datos se darán en una comisaría de la UE.) que puede ser para uno o varios fines específicos sobre los que te informará previamente con absoluta transparencia.
                        </li>
                        <li style="margin-top:18px;">
                            <strong><span class="text-danger">Principio de minimización de datos:</span></strong> Los Creadores te solicitarán solo los datos estrictamente necesarios para el fin o los fines que los solicita.
                        </li>
                        <li style="margin-top:18px;">
                            <strong><span class="text-danger">Principio de limitación del plazo de conservación:</span></strong> Los datos se mantendrán durante el tiempo estrictamente necesario para el fin o los fines del tratamiento. Los Creadores te
                            informarán del plazo de conservación correspondiente según la finalidad. En el caso de suscripciones (Rangos en un servidor de un juego). los Creadores revisarán periódicamente las listas y eliminará aquellos registros inactivos
                            durante un tiempo considerable.
                            <li style="margin-top:18px;">
                                <strong><span class="text-danger">Principio de integridad y confidencialidad:</span></strong> Tus datos serán tratados de tal manera que su seguridad, confidencialidad e integridad esté garantizada. Debes saber que los
                                Creadores toman las precauciones necesarias para evitar el acceso no autorizado o uso indebido de los datos de sus usuarios por parte de terceros.
                            </li>
                    </ul>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <div class="col-12">
                        <ion-title>
                            <h1 class="text-danger">Obtención de datos personales</h1>
                        </ion-title>
                        <p class="text-white">Para navegar por 4vFoldingAtHome no es necesario que facilites ningún dato personal. Los casos en los que sí proporcionas tus datos personales son los siguientes:</p>
                        <ul class="text-white">
                            <li>
                                Al contactar a través de los formularios de contacto o enviar un correo electrónico.
                            </li>
                            <li style="margin-top:18px;">
                                Al realizar un comentario en un artículo o página.
                            </li>
                            <li style="margin-top:18px;">
                                Al registrarme en la Organización para uso de servicios.
                            </li>
                            <li style="margin-top:18px;">
                                Al mejorar mi cuenta para uso mejorado de los servicios.
                            </li>
                            <li style="margin-top:18px;">
                                Al iniciar sesión para entrar en mi cuenta.
                            </li>
                        </ul>
                    </div>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <div class="col-12">
                        <ion-title>
                            <h1 class="text-danger">Tus derechos</h1>
                        </ion-title>
                        <p class="text-white">Los Creadores te informan sobre tus datos personales y tienes derecho a:</p>
                        <ul class="text-white">
                            <li>
                                Solicitar el acceso a los datos almacenados.
                            </li>
                            <li style="margin-top:18px;">
                                Solicitar una rectificación o la cancelación.
                            </li>
                            <li style="margin-top:18px;">
                                Solicitar si el gobierno de la UE ha solicitado su información. Que está se dió en mano en una comisario de la UE.
                            </li>
                        </ul>
                        <p class="text-white">El ejercicio de estos derechos es personal y por tanto debe ser ejercido directamente por el interesado, solicitándolo directamente a los Creadores, lo que significa que cualquier cliente, suscriptor o colaborador que haya facilitado
                            sus datos en algún momento puede dirigirse a los Creadores y pedir información sobre los datos que tiene almacenados y cómo los ha obtenido, solicitar la rectificación de los mismos, o solicitar si el gobierno de la UE ha solicitado
                            su información (Que está se dio en mano en una comisaria de la UE) a los Creadores.</p>
                        <p class="text-white">Para ejercitar tus derechos de acceso, rectificación, cancelación e información del gobierno tienes que enviar un correo electrónico a uno de los Creadores junto con la prueba válida en derecho como una fotocopia del D.N.I. o equivalente.</p>
                        <p class="text-white">Tienes derecho a la tutela judicial efectiva y a presentar una reclamación ante la autoridad de control, en este caso, la Agencia Española de Protección de Datos, si consideras que el tratamiento de datos personales que te conciernen
                            infringe el Reglamento.</p>
                    </div>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <div class="col-12">
                        <ion-title>
                            <h1 class="text-danger">Finalidad del tratamiento de datos personales</h1>
                        </ion-title>
                        <p class="text-white">Cuando te conectas al sitio Web para mandar un comentario en una pagina, te suscribes a su boletín, realizas una contratación o simplemente eres usuario, estás facilitando información de carácter personal de la que los responsables
                            son los Creadores. Esta información puede incluir datos de carácter personal como pueden ser tu dirección IP, nombre y apellidos, dirección física, dirección de correo electrónico, número de teléfono, y otra información. Al
                            facilitar esta información, das tu consentimiento para que tu información sea recopilada, utilizada, gestionada y almacenada por Dulcecor Network, sólo como se describe en el Aviso Legal y en la Política de Privacidad.</p>
                        <p class="text-white">Los datos personales y la finalidad del tratamiento por parte de los Creadores es diferente según el sistema de captura de información:</p>
                        <ul class="text-white">
                            <li>
                                <strong><span class="text-danger">Formularios de contacto:</span></strong> Los Creadores solicitan datos personales entre los que pueden estar: Nombre y apellidos, dirección de correo electrónico, número de teléfono y dirección
                                de tu sitio Web con la finalidad de responder a tus consultas.<br /><br /> Por ejemplo, Los Creadores utilizan esos datos para dar respuesta a tus mensajes, dudas, quejas, comentarios o inquietudes que puedas tener relativas
                                a la información incluida en el sitio Web, los servicios que se prestan a través del sitio Web, el tratamiento de tus datos personales, cuestiones referentes a los textos legales incluidos en el sitio Web, así como cualquier
                                otra consulta que puedas tener y que no esté sujeta a las condiciones del sitio Web o de la contratación.
                            </li>
                            <li style="margin-top:18px;">
                                <strong><span class="text-danger">Formularios de registro:</span></strong> Los Creadores solicitan los siguientes datos personales: Nombre y apellidos, dirección de correo electrónico, número de teléfono y dirección de
                                tu sitio web para gestionar la lista de suscripciones y enviar boletines de la ONG.
                            </li>
                        </ul>
                        <p class="text-white">Existen otras finalidades por las que Los Creadores tratan tus datos personales:</p>
                        <ul class="text-white">
                            <li>
                                Para garantizar el cumplimiento de las condiciones recogidas en el Aviso Legal y en la ley aplicable. Esto puede incluir el desarrollo de herramientas y algoritmos que ayuden a este sitio Web a garantizar la confidencialidad de los datos personales que
                                recoge.
                            </li>
                            <li style="margin-top:18px;">
                                Para apoyar y mejorar los servicios que ofrece este sitio Web.
                            </li>
                            <li style="margin-top:18px;">
                                Para analizar la navegación. Los Creadores recogen otros datos no identificativos que se obtienen mediante el uso de cookies que se descargan en tu ordenador cuando navegas por el sitio Web cuyas características y finalidad están detalladas en la Política
                                de Cookies.
                            </li>
                            <li style="margin-top:18px;">
                                Para gestionar las redes sociales. Los Creadores tienen presencia en redes sociales. Si te haces seguidor en las redes sociales de Los Creadores el tratamiento de los datos personales se regirá por este apartado, así como por aquellas condiciones de uso,
                                políticas de privacidad y normativas de acceso que pertenezcan a la red social que proceda en cada caso y que has aceptado previamente.
                            </li>
                        </ul>
                        <p class="text-white">Puedes consultar las políticas de privacidad de las principales redes sociales en estos enlaces:
                        </p>
                        <ul class="text-white">
                            <li>
                                <a href="https://help.twitter.com/es/rules-and-policies" style="text-decoration:none;" class="enlaces" target="_blank">Twitter</a>
                            </li>
                            <li style="margin-top:18px;">
                                <a href="https://www.youtube.com/intl/es/about/policies/" style="text-decoration:none;" class="enlaces" target="_blank">Youtube</a>
                            </li>
                            <li style="margin-top:18px;">
                                <a href="https://discordapp.com/privacy" style="text-decoration:none;" class="enlaces" target="_blank">Discord</a>
                            </li>
                        </ul>
                        <p class="text-white">Los creadores tratarán tus datos personales con la finalidad de administrar correctamente su presencia en la red social, informarte de sus actividades, productos o servicios, así como para cualquier otra finalidad que las normativas
                            de las redes sociales permitan.</p>
                        <p class="text-white">En ningún caso Los Creadores utilizarán los perfiles de seguidores en redes sociales para enviar publicidad de manera individual.</p>
                    </div>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <div class="col-12">
                        <ion-title>
                            <h1 class="text-danger">Seguridad de los datos personales</h1>
                        </ion-title>
                        <p class="text-white">Para proteger tus datos personales, Los Creadores toman todas las precauciones razonables y sigue las mejores prácticas de la industria para evitar su pérdida, mal uso, acceso indebido, divulgación, alteración o destrucción de
                            los mismos.
                        </p>
                        <p class="text-white">El sitio Web está alojado en Asura Hosting. La seguridad de tus datos está garantizada, ya que toman todas las medidas de seguridad necesarias para ello. Puedes consultar su política de privacidad para tener más información.</p>
                        <p class="text-white">Política de Privacidad del Hosting: <a href="https://discordapp.com/privacy" style="text-decoration:none;" class="enlaces" target="_blank">https://www.asurahosting.com/tos</a></p>
                    </div>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <div class="col-12">
                        <ion-title>
                            <h1 class="text-danger">Contenido de otros sitios web</h1>
                        </ion-title>
                        <p class="text-white">Las páginas de este sitio Web pueden incluir contenido incrustado (por ejemplo, vídeos, imágenes, artículos, etc.). El contenido incrustado de otras web se comporta exactamente de la misma manera que si hubieras visitado la otra
                            web.
                        </p>
                        <p class="text-white">Estos sitios Web pueden recopilar datos sobre ti, utilizar cookies, incrustar un código de seguimiento adicional de terceros, y supervisar tu interacción usando este código.</p>
                    </div>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <div class="col-12">
                        <ion-title>
                            <h1 class="text-danger">Política de Cookies</h1>
                        </ion-title>
                        <p class="text-white">Para que este sitio Web funcione correctamente necesita utilizar cookies, que es una información que se almacena en tu navegador web.</p>
                        <p class="text-white">Cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario
                            o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario. El navegador del usuario memoriza cookies en el disco duro solamente durante
                            la sesión actual ocupando un espacio de memoria mínimo y no perjudicando al ordenador. Las cookies no contienen ninguna clase de información personal específica, y la mayoría de las mismas se borran del disco duro al finalizar
                            la sesión de navegador (las denominadas cookies de sesión).</p>
                        <p class="text-white">La mayoría de los navegadores aceptan como estándar a las cookies y, con independencia de las mismas, permiten o impiden en los ajustes de seguridad las cookies temporales o memorizadas.</p>
                        <p class="text-white">Sin su expreso consentimiento –mediante la activación de las cookies en su navegador–XXXXX no enlazará en las cookies los datos memorizados con sus datos personales proporcionados en el momento del registro o la compra.</p>
                        <h6 class="text-danger" style="margin-top:30px;"><strong>¿Qué tipos de cookies utiliza esta página web?</strong>
                        </h6>
                        <ul class="text-white">
                            <li>
                                <strong><span class="text-danger">Cookies técnicas:</span></strong> Son aquéllas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios
                                que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de
                                compra de un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos
                                a través de redes sociales.
                            </li>
                            <li style="margin-top:18px;">
                                <strong><span class="text-danger">Cookies de personalización:</span></strong> Son aquéllas que permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en función de una serie
                                de criterios en el terminal del usuario como por ejemplo serian el idioma, el tipo de navegador a través del cual accede al servicio, la configuración regional desde donde accede al servicio, etc.
                            </li>
                            <li style="margin-top:18px;">
                                <strong><span class="text-danger">Cookies de análisis:</span></strong> Son aquéllas que bien tratadas por nosotros o por terceros, nos permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico
                                de la utilización que hacen los usuarios del servicio ofertado. Para ello se analiza su navegación en nuestra página web con el fin de mejorar la oferta de productos o servicios que le ofrecemos.
                                <li style="margin-top:18px;">
                                    <strong><span class="text-danger">Cookies publicitarias:</span></strong> Son aquéllas que, bien tratadas por nosotros o por terceros, nos permiten gestionar de la forma más eficaz posible la oferta de los espacios publicitarios
                                    que hay en la página web, adecuando el contenido del anuncio al contenido del servicio solicitado o al uso que realice de nuestra página web. Para ello podemos analizar sus hábitos de navegación en Internet y podemos
                                    mostrarle publicidad relacionada con su perfil de navegación.
                                </li>
                                <li style="margin-top:18px;">
                                    <strong><span class="text-danger">Cookies de publicidad comportamental:</span></strong> Son aquéllas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el editor
                                    haya incluido en una página web, aplicación o plataforma desde la que presta el servicio solicitado. Estas cookies almacenan información del comportamiento de los usuarios obtenida a través de la observación continuada
                                    de sus hábitos de navegación, lo que permite desarrollar un perfil específico para mostrar publicidad en función del mismo.
                                </li>
                                <li style="margin-top:18px;">
                                    <strong><span class="text-danger">Cookies de terceros:</span></strong> La Web de XXXXX puede utilizar servicios de terceros que, por cuenta de XXXXX, recopilaran información con fines estadísticos, de uso del Site por
                                    parte del usuario y para la prestacion de otros servicios relacionados con la actividad del Website y otros servicios de Internet.
                                </li>
                        </ul>
                        <p class="text-white">En particular, este sitio Web utiliza Google Analytics, un servicio analítico de web prestado por Google, Inc. con domicilio en los Estados Unidos con sede central en 1600 Amphitheatre Parkway, Mountain View, California 94043.
                            Para la prestación de estos servicios, estos utilizan cookies que recopilan la información, incluida la dirección IP del usuario, que será transmitida, tratada y almacenada por Google en los términos fijados en la Web Google.com.
                            Incluyendo la posible transmisión de dicha información a terceros por razones de exigencia legal o cuando dichos terceros procesen la información por cuenta de Google.</p>
                    </div>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <div class="col-12">
                        <ion-title>
                            <h1 class="text-danger">Legitimación para el tratamiento de datos</h1>
                        </ion-title>
                        <p class="text-white">La base legal para el tratamiento de tus datos es: el consentimiento.</p>
                        <p class="text-white">Para contactar con los Creadores, suscribirte a un boletín o realizar comentarios en este sitio Web tienes que aceptar la presente Política de Privacidad.</p>
                    </div>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <div class="col-12">
                        <ion-title>
                            <h1 class="text-danger">Categorías de datos personales</h1>
                        </ion-title>
                        <p class="text-white">Las categorías de datos personales que tratan los Creadores son:</p>
                        <ul class="text-white">
                            <li>
                                Datos identificativos.
                            </li>
                        </ul>
                    </div>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <div class="col-12">
                        <ion-title>
                            <h1 class="text-danger">Conservación de datos personales</h1>
                        </ion-title>
                        <p class="text-white">Los datos personales que proporciones a los Creadores se conservarán hasta que solicites su supresión.
                        </p>
                        <p class="text-white">Destinatarios de datos personales:</p>
                        <ul class="text-white">
                            <li>
                                <strong><span class="text-danger">Google Analytics</span></strong> es un servicio de analítica web prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View
                                (California), CA 94043, Estados Unidos (“Google”). Encontrarás más información en: <a href="https://analytics.google.com" style="text-decoration:none;" class="enlaces" target="_blank">https://analytics.google.com</a><br /><br />Google
                                Analytics utiliza “cookies”, que son archivos de texto ubicados en tu ordenador, para ayudar al Titular a analizar el uso que hacen los usuarios del sitio Web. La información que genera la cookie acerca del uso del sitio
                                Web (incluyendo tu dirección IP) será directamente transmitida y archivada por Google en los servidores de Estados Unidos.
                            </li>
                            <li style="margin-top:18px;">
                                <strong><span class="text-danger">DoubleClick by Google</span></strong> es un conjunto de servicios publicitarios proporcionado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre
                                Parkway, Mountain View (California), CA 94043, Estados Unidos (“Google”). <br /><br /> Encontrarás más información en: <a href="https://www.doubleclickbygoogle.com" style="text-decoration:none;" class="enlaces" target="_blank">https://www.doubleclickbygoogle.com</a><br
                                /><br />DoubleClick utiliza “cookies”, que son archivos de texto ubicados en tu ordenador y que sirven para aumentar la relevancia de los anuncios relacionados con tus búsquedas recientes. En la Política de privacidad de
                                Google se explica cómo Google gestiona tu privacidad en lo que respecta al uso de las cookies y otra información.
                            </li>
                        </ul>
                        <p class="text-white">También puedes ver una lista de los tipos de cookies que utiliza Google y sus colaboradores y toda la información relativa al uso que hacen de cookies publicitarias.</p>
                    </div>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <div class="col-12">
                        <ion-title>
                            <h1 class="text-danger">Navegación Web</h1>
                        </ion-title>
                        <p class="text-white">Al navegar por 4vFoldingAtHome se pueden recoger datos no identificativos, que pueden incluir, la dirección IP, geolocalización, un registro de cómo se utilizan los servicios y sitios, hábitos de navegación y otros datos que no
                            pueden ser utilizados para identificarte.</p>
                        <p class="text-white">El sitio Web utiliza los siguientes servicios de análisis de terceros:</p>
                        <ul class="text-white">
                            <li>
                                Google Analytics
                            </li>
                            <li style="margin-top:18px;">
                                DoubleClick por Google
                            </li>
                        </ul>
                        <p class="text-white">Los Creadores utilizan la información obtenida para obtener datos estadísticos, analizar tendencias, administrar el sitio, estudiar patrones de navegación y para recopilar información demográfica.
                        </p>
                    </div>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <div class="col-12">
                        <ion-title>
                            <h1 class="text-danger">Exactitud y veracidad de los datos personales</h1>
                        </ion-title>
                        <p class="text-white">Te comprometes a que los datos facilitados a los Creadores sean correctos, completos, exactos y vigentes, así como a mantenerlos debidamente actualizados.</p>
                        <p class="text-white">Como Usuario del sitio Web eres el único responsable de la veracidad y corrección de los datos que remitas al sitio exonerando a los Creadores de cualquier responsabilidad al respecto.</p>
                    </div>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <div class="col-12">
                        <ion-title>
                            <h1 class="text-danger">Aceptación y consentimiento</h1>
                        </ion-title>
                        <p class="text-white">Como Usuario del sitio Web declaras haber sido informado de las condiciones sobre protección de datos de carácter personal, aceptas y consientes el tratamiento de los mismos por parte de los Creadores en la forma y para las finalidades
                            indicadas en esta Política de Privacidad.</p>
                    </div>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <div class="col-12">
                        <ion-title>
                            <h1 class="text-danger">Revocabilidad</h1>
                        </ion-title>
                        <p class="text-white">Para ejercitar tus derechos de acceso, rectificación, cancelación e información del gobierno tienes que enviar un correo electrónico a uno de los Creadores junto con la prueba válida en derecho como una fotocopia del D.N.I. o equivalente.</p>
                        <p class="text-white">El ejercicio de tus derechos no incluye ningún dato que Los Creadores estén obligados a conservar con fines administrativos, legales o de seguridad.</p>
                    </div>
                    <br />
                    <hr style="width:100%;text-align:left;margin-left:0;background-color: black;">
                    <br />
                    <div class="col-12">
                        <ion-title>
                            <h1 class="text-danger">Cambios en la Política de Privacidad</h1>
                        </ion-title>
                        <p class="text-white">Los Creadores se reservan el derecho a modificar la presente Política de Privacidad para adaptarla a novedades legislativas o jurisprudenciales, así como a prácticas de la industria.</p>
                        <p class="text-white">Estas políticas estarán vigentes hasta que sean modificadas por otras debidamente publicadas.
                        </p>
                        <p class="text-white">Y te informaremos que hemos cambiado la política por correo electrónico. Para que te leas la nueva política.</p>
                    </div>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
</div>