@import "../app.component.scss";
// Fondo de la página
.background {
    @include background("../../assets/images/background.png");
}

.fondo {
    background-color: rgb(68, 131, 247);
}

.enlaces {
    color: pink;
}