@import "../../app.component.scss";
:host ::ng-deep .ngx-datatable.bootstrap:not(.cell-selection) .datatable-body-row:hover,
:host ::ng-deep .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group,
:host ::ng-deep .ngx-datatable.dark:not(.cell-selection) .datatable-body-row:hover {
    cursor: pointer;
    background: skyblue;
}

// Fondo de la página
.background {
    @include background("../../../assets/images/background.png");
    height: 100%;
}

ion-toolbar {
    --background: rgb(236, 241, 253);
}