<div class="overflow-auto background">
  <div class="container">

    <ion-grid>
      <ion-row>
        <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <h3>
                  TOP 10 colaboradores de <a href="http://www.cuatrovientos.org/">Cuatrovientos</a>
                </h3>
              </ion-card-title>
              <ion-card-subtitle>
                Estos son los colaboradores que más han ayudado dentro del equipo en el que se encuentra Cuatrovientos.
                <br>
                ¿Tú también quieres aparecer en el ranking? <a [routerDirection]="'root'" routerLink="../home" fragment="guia">Colaborar</a>
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content class="embed-responsive">
              <ion-card *ngFor="let donor of top10donors4v" color="light">
                <div [ngClass]="{'text-dark bg-warning': top10donors4v.indexOf(donor) < 3}">
                  <ion-grid>
                    <ion-row>
                      <ion-col size-xl="1" size-lg="1" size-md="1" size-sm="2" size-xs="2" class="ion-text-center">
                        {{ top10donors4v.indexOf(donor) + 1 }}
                      </ion-col>
                      <ion-col>
                        {{ donor.name }}
                        <br>
                        <a *ngIf="donor.name == 'Maialen'" [routerDirection]="'root'" routerLink="../home" fragment="entrevistaMaialen">Ver entrevista</a>
                      </ion-col>
                      <ion-col class="ion-text-end">
                        {{ donor.credit | number }}
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </ion-card>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <app-info-statistics [topFiveTeams]="topFiveTeams"></app-info-statistics>
        </ion-col>
      </ion-row>
    </ion-grid>

    <br>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h3>¿Buscas a tu equipo?</h3>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <ion-text color="medium">
            Aquí encontrarás información clave de los equipos y sus miembros. Incluye los créditos acumulados totales
            entre
            todos los miembros,
            la posición en el ranking en la que se encuentran, el número del equipo, el nombre y WUs <small>(Working
              units)</small>.
            <br>
            Puedes <strong>buscar</strong> cualquier equipo poniendo su ID en la caja de texto.
            <br><br>
            <ion-text color="dark">Puedes ver la <strong>información</strong> del equipo haciendo <strong>click</strong>
              en su fila.</ion-text>
          </ion-text>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col size-xl="1" size-lg="1" size-md="1" size-sm="12" size-xs="12" class="ion-align-self-center">
              <ion-buttons>
                <ion-button (click)="switchStyle()">
                  <ion-icon name="contrast-outline"></ion-icon>
                  {{ tableColor }}
                </ion-button>
              </ion-buttons>
            </ion-col>
            <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="6" size-xs="6"
              class="ion-align-self-center ion-text-end">
              <ion-label color="tertiary">Introduce el ID del equipo</ion-label>
            </ion-col>
            <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="6" size-xs="6" class="ion-align-self-center">
              <ion-input class="form-control" type="text" placeholder="Ej.: 244686" [(ngModel)]="search"
                (keyup)="getTeam()">
              </ion-input>
            </ion-col>
            <ion-col>
              <ion-toolbar>
                <ion-buttons slot="end">
                  <ion-button color="secondary" (click)="getTeams(100)">
                    <ion-icon slot="start" name="search"></ion-icon>
                    Top 100 Teams
                  </ion-button>
                  <ion-button color="secondary" (click)="getDonors()">
                    <ion-icon slot="start" name="search"></ion-icon>
                    Top 100 Donors
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ngx-datatable [rows]="teams" [ngClass]="tableStyle" [headerHeight]="50" [columnMode]="'force'"
          (activate)="donorsOfTeam($event)" color="light">
          <ngx-datatable-column name='Rank'></ngx-datatable-column>
          <ngx-datatable-column name='Name'></ngx-datatable-column>
          <ngx-datatable-column name='Credit'></ngx-datatable-column>
          <ngx-datatable-column name='Wus'></ngx-datatable-column>
          <ngx-datatable-column name='Team'></ngx-datatable-column>
        </ngx-datatable>
      </ion-card-content>
    </ion-card>

  </div>
</div>